
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  background-color: rgb(245, 238, 238);
  width: 100%;
  position: fixed;
  z-index: 2;
  font-family: 'Lobster', cursive;
}

.nav-open {
  display: grid;
  grid-column: 3;
  grid-row: 2;
}

.nav-collapse {
  display: none;
}


.header {
  position: relative;
  /* top: 85px; */
  height: 100vh;
  background: url('imgs/nbck.jpg')center/cover no-repeat;
}

.lyr1 {
  position: relative;
  /* top: 85px; */
  height: 100vh;
  background-color: rgba(70, 70, 70, 0.397);
  display: flex;
  align-items: center;
  justify-content: center;
}

.lyr1 h1 {
  font-family: 'Caveat', cursive;
}

.excen {
  font-family: 'Lobster', cursive;
  color: rgb(180, 21, 21);
  font-size: 48px;
}

img {
  width: 400px;
  height: 350px;
  transition: .3s all ease-in-out;
}

.logo {
  grid-column: 2;
  width: 85px;
  height: 85px;
}

.right-menu {
  grid-column: 3;
  justify-self: end;
  padding-right: 10px;
}

.right-menu a {
  text-decoration: none;
  color: rgb(221, 18, 18);
  font-size: 22px;
  padding: 10px;
  transition: .3s all ease-in-out;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  transition: .3s all ease-in-out;
  /* text-align: center; */
  /* align-items: center; */
}

.left-about {
  grid-column: 1;
  margin: 85px 120px 20px 120px;
}

.left-about h2 {
  font-family: 'Caveat', cursive;
  font-size: 42px;
  text-align: left;
}

.us {
  font-family: 'Lobster', cursive;
  color: rgb(221, 18, 18);
  font-size: 68px;
}

.pab {
  font-family: 'Caveat', cursive;
  font-size: 22px;
  color: rgb(126, 126, 126);
}

.expBtn {
  background-color: white;
  outline: none;
  width: 100px;
  height: 40px;
  font-family: 'Caveat', cursive;
  font-size: 28px;
  border: 2px solid rgb(221, 18, 18);
  border-radius: 5px;
  margin: 4px 10px 4px 10px;
  box-shadow: 5px 5px 5px rgba(70, 70, 70, 0.397);
}

.expBtn:active {
  margin: 6px 10px 2px 10px;
  box-shadow: inset 0px 0px 0px rgba(70, 70, 70, 0.397);
}

.expBtn:hover {
  background-color: black;
  color: rgb(221, 18, 18);
}

.right-about {
  grid: 2;
  margin: 95px 20px;
}

.squr {
  position: absolute;
  border: 8px solid rgb(167, 23, 23);
  width: 500px;
  height: 396px;
  transition: .3s all ease-in-out;
  background-color: rgba(70, 70, 70, 0);
}

.squr:hover {
  /* transform: translateX(35px); */
  transform: translate(37px, 22px);
  z-index: 2;
}


.chef {
  position: relative;
  top: 30px;
  left: 45px;
  width: 500px;
  height: 400px;
}

h2 {
  position: relative;
  bottom: 10px;
  text-align: center;
}

.container {
  position: absolute;
  width: 100%;
  text-align: center;
  /* margin-bottom: 10px; */
  background-color: rgb(228, 230, 230);  
}

.our {
  font-family: 'Caveat', cursive;
  font-size: 42px;
}

.flexBtns {
  display: flex;
  justify-content: space-evenly;
}

.fbtn {
  background-color: white;
  outline: none;
  width: 110px;
  height: 40px;
  font-family: 'Caveat', cursive;
  font-size: 28px;
  /* border: 2px solid rgb(221, 18, 18); */
  border: none;
  border-radius: 5px;
  margin: 4px 10px 4px 10px;
  /* box-shadow: 5px 5px 5px rgba(70, 70, 70, 0.397); */
  background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
  box-shadow: 
    3px 3px 8px 0 rgba(241, 234, 234, 0.25),
    -2px -2px 12px 0 rgba(255, 255, 255, 0.3);
}

.fbtn:active {
  margin: 6px 10px 2px 10px;
  box-shadow: inset 0px 0px 0px rgba(70, 70, 70, 0.397);
}

.fbtn:hover {
  background-color: black;
  color: rgb(221, 18, 18);
}

.menu {
  /* top: 10vh; */
  height: 100%;
  padding: 100px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 50px;
  background-color: rgb(228, 230, 230);
  transition: .3s all ease-in-out;
}

.img {
  width: 300px;
  height: 300px;
  background: rgb(255, 255, 255);
  transition: .3s all ease-in-out;
}



@media screen and (min-width: 480px) {
  /* .nav-open {
    display: grid;
    grid-column: 3;
    grid-row: 2;
  } */

  .right-menu {
    display: grid;
  }

  .nav-collapse {
    display: none;
  }
  

  .navbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
  }

  .navBtn{
    grid-column: 3;
    justify-self: end;
    align-self: center;
    border: 5px solid #4ad4bdb4;
    cursor: pointer;
  }
  
  .bar1,.bar2,.bar3 {
    width: 30px;
    height: 5px;
    margin: 0.5rem;
    background: #4ad4bdb4;
    transition: all 1.5s ease-in-out;
  }
  
  .change .bar1{
    transform: rotate(-2205deg) translate(-10px, 10px);
  }
  .change .bar2{
    opacity: 0;
  }
  .change .bar3{
    transform: rotate(2205deg) translate(-7.5px, -8.5px);
  }


  .about {
    grid-template-columns: 1fr;
    height: 170vh;
    /* justify-items: center; */
  }

  .squr {
    position: absolute;
    border: 8px solid rgba(167, 23, 23, 0.829);
    width: 375px;
    height: 275px;
    transition: .3s all ease-in-out;
    background-color: rgba(70, 70, 70, 0);
  }
  
  .squr:hover {
    /* transform: translateX(35px); */
    transform: translate(37px, 22px);
    z-index: 2;
  }
  
  
  .chef {
    position: relative;
    top: 30px;
    left: 45px;
    width: 375px;
    height: 275px;
  }

  .img {
    width: 300px;
    height: 300px;
    background: rgb(250, 250, 250);
  }

  img {
    width: 300px;
    height: 250px;
  }
  
}

@media screen and (min-width: 680px) {
  .navbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
  }


  .right-menu {
    display: inline-flex;
    grid-column: 3;
    grid-row: 1;
  }

  .navBtn {
    display: none;
  }
  
  .about {
    grid-template-columns: 1fr;
    height: 170vh;
    justify-items: center;
  }

  .squr {
    position: absolute;
    border: 8px solid rgba(167, 23, 23, 0.829);
    width: 425px;
    height: 325px;
    transition: .3s all ease-in-out;
    background-color: rgba(70, 70, 70, 0);
  }
  
  .squr:hover {
    /* transform: translateX(35px); */
    transform: translate(37px, 22px);
    z-index: 2;
  }

  .chef {
    position: relative;
    top: 30px;
    left: 45px;
    width: 425px;
    height: 325px;
  
  }


  .img {
    width: 400px;
    height: 400px;
    background: rgb(255, 255, 255);
  }

  img {
    width: 400px;
    height: 350px;
  }
  
}

@media screen and (min-width: 980px) {
  .navbar {
    grid-template-rows: 1fr;
  }

  .navBtn {
    display: none;
  }
  
.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  transition: .3s all ease-in-out;
  /* text-align: center; */
  /* align-items: center; */
}

.left-about {
  grid-column: 1;
  margin: 85px 120px 20px 120px;
}

.left-about h2 {
  font-family: 'Caveat', cursive;
  font-size: 42px;
  text-align: left;
}

.right-about {
  grid: 2;
  margin: 95px 20px;
}

.squr {
  position: absolute;
  border: 8px solid rgb(167, 23, 23);
  width: 425px;
  height: 325px;
  transition: .3s all ease-in-out;
  background-color: rgba(70, 70, 70, 0);
}

.squr:hover {
  /* transform: translateX(35px); */
  transform: translate(37px, 22px);
  z-index: 2;
}


.chef {
  position: relative;
  top: 30px;
  left: 45px;
  width: 425px;
  height: 325px;
}

  .menu {
    grid-template-columns: 1fr 1fr;
  }

  .img {
    width: 300px;
    height: 300px;
    background: rgb(255, 255, 255);
  }
  img {
    width: 300px;
    height: 250px;
  }
  
}

@media screen and (min-width: 1180px) {
  .navbar {
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
  }

  .navBtn {
    display: none;
  }

  .right-menu {
    grid-column: 3;
    justify-self: end;
    padding-right: 10px;
  }
  .squr {
    position: absolute;
    border: 8px solid rgb(167, 23, 23);
    width: 500px;
    height: 396px;
    transition: .3s all ease-in-out;
    background-color: rgba(70, 70, 70, 0);
  }
  
  .squr:hover {
    /* transform: translateX(35px); */
    transform: translate(37px, 22px);
    z-index: 2;
  }
  
  
  .chef {
    position: relative;
    top: 30px;
    left: 45px;
    width: 500px;
    height: 400px;
  }

  .img {
    width: 400px;
    height: 400px;
    background: rgb(255, 255, 255);
  }
  img {
    width: 400px;
    height: 350px;
  }
}
